.icon {
  /* maybe something here, maybe nothing */
}

.icon::before {
  /* style to add an icon before a button*/
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  font-size: 14px;
}
